/* Coolors Exported Palette - coolors.co/253031-799496-acc196-508aa8-ff331f */

/* RGB */
$darkblue: rgba(37, 48, 49, 1);
$lightblue1: rgba(121, 148, 150, 1);
$lightblue2: rgba(172, 193, 150, 1);
$lightblue3: rgba(80, 138, 168, 1);
$red: rgba(255, 51, 31, 1);